@import 'https://fonts.googleapis.com/css?family=Architects+Daughter';

* {
  box-sizing: border-box;
}

$font-stack: 'Architects Daughter', sans-serif;
$background-color: #000000;

html,
body {
  height: 100vh;
}

body {
  margin: 10px 20px;
  font-family: $font-stack;
  background: #0f0c29;
  color: #fff;
}
