@import 'https://fonts.googleapis.com/css?family=Architects+Daughter';
* {
  box-sizing: border-box; }

html,
body {
  height: 100vh; }

body {
  margin: 10px 20px;
  font-family: "Architects Daughter", sans-serif;
  background: #0f0c29;
  color: #fff; }
